nav{
    display:flex;
    padding: 15px;
    justify-content:space-between;
}

body{
    background: linear-gradient(to top right, #eeeced 30%, #bfc694 100%);
}

h1{
    font-size:100px;
    margin:0px;
    padding-left:20px;
    font-family:'crimson text';
    color:#d4a633;
}

h2{
    color:#3c4b33;
}

.involvement{
    display:flex;
    justify-content:space-around;
    padding:10px;
    margin-bottom:25px;
}

.dance{
    background-color:#bfc694;
    padding:8px;
}

.oy{
    background-color:#6f8d5e;
    padding:8px;
}

.jerk{
    background-color:#3c4b33;
    padding:8px;
}

.homepageinfo{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:35px;
}

.homepageinfo div{
    margin-top:40px;
    margin-left:40px;
    margin-right:40px;
}

.homepageinfo .box1{
    flex:2;
}

.homepageinfo .box2{
    flex:3;
}

p, h2{
    font-family:'crimson text';
}

.links{
    text-align:end;
}

a{
    color:#3c4b33;
    text-decoration:none;
    font-size:20px;
}

i{
    font-size:30px;
    padding-right:5px;
}

footer{
    padding-left:20px;
    margin:0px;
}

img{
    max-width:100%;
}

.portfolioinfo{
    display:flex;
    flex-wrap:wrap;
}

.portfolioinfo div{
    padding:25px;
    height: 100%;
}

.experience{
    display:flex;
    flex-wrap:wrap;
}

.experience .ex{
    margin:20px;
    padding:10px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
}

.skills div{
    margin:20px;
}

.heading1{
    font-size:50px;
    text-align:center;
    padding:0px;
}

.heading2{
    text-align:center;
    margin:0px;
}

.education{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-bottom:25px;
}

.education div{
    padding:20px;
    font-size: 20px;

}
















